html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Jumbotron*/
.jumbotron {
  height: 800px;
  background: #d1c4a4 url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron a {
  text-decoration: none;
  color: #fff;
  transition: box-shadow 0.5s;
}

.jumbotron a:hover {
  box-shadow: 0px 0px 10px #000;
}

/*Header*/
.header {
  background-color: #333;
}

/*Navigation*/
.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  padding: 5px 20px;
}

.nav li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s;
}

.nav li a:hover {
  color: #aaa;
}

/*Main*/
.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #333;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

/*Supporting*/
.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.supporting a {
  color: #000;
  text-decoration: none;
  transition: background 0.5s, color 0.5s;
}

.supporting a:hover {
  color: #fff;
  background: #333;
}

.learn {
  background: #fff;
  border: solid 1px #333333;
  border-radius: 3px;
  padding: 5px 20px;
}

.clearfix {
  clear: both;
}

/*Footer*/
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

/*Media Queries*/
@media (max-width: 910px) {
  .supporting .col {
    width: 100%;
    margin-bottom: 50px;
  }
  .supporting {
    padding-bottom: 0px;
  }
}

@media (max-width: 500px) {
  .jumbotron {
    height: 300px;
  }
  .main {
    top: 40px;
  }
  .main h1 {
    font-size: 40px;
    padding: 0 10px;
  }
  .nav li {
    padding: 5px 10px;
  }
}
